.footer-index {
    .footer-main {
        display: flex;
        padding: 0 54px;
    .router-item{
        ul {
            padding-left: 0;
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
    
            li {
                list-style-type: none;
            }
        }
    }

    .router-wrapper{
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    .router-title {
        padding-bottom: 25px;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        letter-spacing: .0525rem;

    }


    .router-index{
        width: 40%;
    }
   

    .social-link{
        width: 20%;

        ul {
            padding-left: 0;
            display: flex;
            gap: 1.5rem;
    
            li {
                list-style-type: none;

                svg{
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}
}