header {
    -webkit-box-shadow: 0 0.0625rem 0 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0.0625rem 0 0 rgba(0, 0, 0, .15);
    overflow-x: hidden;
    .nav-index {
        padding-top: 1.5rem;

        .nav-index-top {
            display: flex;
            justify-content: space-between;
        }

        .nav-item{
            display: flex;
        }


        .nav-content-first {
            display: flex;
            gap: 1rem;
        }

        .nav-link{
            font-size: .85rem;
            margin-bottom: 0;
            font-family: 'Montserrat',sans-serif;
            color: black;
            border: none;


            &:hover{
                color: black !important;
                font-weight: bold;
                border: none;
                font-family: 'Montserrat',sans-serif;
            }
        }

        .logo-index {
            width: 23%;
            margin-top: -13px;
        }

        .logo_index_web {
            text-align: center;
        }

        .nav-direction {
            display: flex;
            justify-content: flex-end;
            gap: 1.3rem;
        }
    }
}

.nav-index {

    nav ul,
    nav li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav a {
        display: block;
        text-decoration: none;
    }

    nav a:hover,
    nav a:visited {
        text-decoration: none;
    }

    .menu-bar {
        background: #ffffff;
        display: flex;
    }

    .menu-link {
        padding: 20px 0;
        background: #ffffff;
        transition: background .2s, color .2s;
        position: relative;
        z-index: 1;
        font-family: 'Montserrat',sans-serif;
        font-size: 13px;
        color: black;
        letter-spacing: .05rem;
    }

    .mega-menu-header {
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: bold;
        color: #136a73;
    }

    .mega-menu {
        background: #ffffff;
        z-index: 10;

        .mega-item {
            display: flex;
    flex-direction: column;
            img {
                width: 144px;
                height: 144px;
            }

            span{
                display: block;
                max-width: 144px;
                text-align: center;
                text-transform: uppercase;
                font-size: 14px;
                font-family: 'Montserrat',sans-serif;
                margin-top: 13px;
            }
        }

       

        .tab-content>.active {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 1rem;
            padding-bottom: 60px;
            padding-top: 20px;
            border: none !important;
            color: black !important;
        }

    }

    .mega-menu--multiLevel {
        flex-direction: column;
    }

    @media all and (min-width: 768px) {
        .nav {
            background: #ffffff;
            justify-content: center;
        }

        .nav>nav {
            margin: 0 auto;
            min-width: 1376px;
        }

        .menu [aria-haspopup="true"]~ul {
            display: none;
        }

        .menu-bar {
            position: relative;
            justify-content: center;
            gap: 1.7rem;
        }

        .menu-bar>li>[aria-haspopup="true"]:hover~ul {
            display: flex;
            transform-origin: top;
            animation: dropdown .2s ease-out;
        }

        .menu-bar>li>[aria-haspopup="true"]~ul:hover {
            display: flex;
        }

        .menu-bar>li:focus-within>[aria-haspopup="true"]~ul {
            display: flex;
        }

        .menu-bar>li>[aria-haspopup="true"]:focus,
        .menu-bar>li:focus-within>[aria-haspopup="true"],
        .menu-bar>li:hover>a {
            font-weight: bold;
        }

        .mega-menu {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
        }

        .mega-menu:hover {
            display: flex;
        }

        .mega-menu a:hover {
            background: tint(#177E89, 85%);
            color: #136a73;
        }

        .mega-menu--multiLevel>li {
            width: 33.333333333333%;
        }

        .mega-menu--multiLevel>li>[aria-haspopup="true"]~ul {
            left: 33.333333333333%;
            width: 33.333333333333%;
        }

        .mega-menu--multiLevel>li>[aria-haspopup="true"]~ul ul {
            width: 100%;
            left: 100%;
        }

        .mega-menu--multiLevel li:hover>[aria-haspopup="true"]~ul {
            display: block;
            transform-origin: left;
            animation: flyout .2s ease-out;
        }

        .mega-menu--multiLevel li:focus-within>[aria-haspopup="true"]~ul {
            display: block;
        }

        .mega-menu--multiLevel li:hover>[aria-haspopup="true"],
        .mega-menu--multiLevel li:hover>a,
        .mega-menu--multiLevel li:focus-within>[aria-haspopup="true"],
        .mega-menu--multiLevel li:focus-within>a {
            background: tint(#177E89, 85%);
            color: #136a73;
        }

        .mega-menu--multiLevel [aria-haspopup="true"]~ul,
        .mega-menu--multiLevel [aria-haspopup="true"] {
            border-left: 1px solid #f0f0f0;
        }

        .mega-menu--multiLevel [aria-haspopup="true"]~ul:hover,
        .mega-menu--multiLevel [aria-haspopup="true"]:hover {
            display: block;
        }

        .mega-menu--multiLevel [aria-haspopup="true"]~ul {
            position: absolute;
            top: 0;
            height: 100%;
        }

        .mega-menu--flat>* {
            flex: 1;
        }

        .mobile-menu-trigger,
        .mobile-menu-header,
        .mobile-menu-back-item {
            display: none;
        }
    }

    @media all and (max-width: 768px) {
        .nav {
            padding: 20px;
        }

        .mobile-menu-trigger,
        .mobile-menu-header,
        .mobile-menu-back-item {
            display: block;
        }

        .mobile-menu-trigger {
            background: #177E89;
            color: #ffffff;
            border: 0;
            padding: 10px;
            font-size: 1.2em;
            border-radius: 4px;
        }

        .mobile-menu-header {
            order: -1;
            background: grey;
        }

        .mobile-menu-header a {
            padding: 20px 25px;
            color: #ffffff;
            visibility: visible;
        }

        .menu-bar {
            flex-direction: column;
            position: fixed;
            top: 0;
            left: -100%;
            height: 100vh;
            width: 350px;
            max-width: 350px;
            max-width: 90%;
            overflow-x: hidden;
            transition: left .3s;
            box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.25);
        }

        .menu-bar>li>[aria-haspopup="true"]~ul {
            display: flex;
            flex-direction: column;
            background: #ffffff;
            position: absolute;
            left: 100%;
            top: 0;
            max-height: 100vh;
            width: 100%;
            transition: left .3s;
        }

        .menu-bar>li>[aria-haspopup="true"]~ul>li>[aria-haspopup="true"] {
            font-size: 1.2em;
        }

        .menu-bar>li>[aria-haspopup="true"]~ul>li>[aria-haspopup="true"]~ul a {
            padding-left: 40px;
        }

        .menu-bar>li>[aria-haspopup="true"]~ul>li>[aria-haspopup="true"]~ul>li>[aria-haspopup="true"]~ul a {
            padding-left: 80px;
        }

        .menu-bar>li>[aria-haspopup="true"]~ul [aria-haspopup="true"] {
            color: #2a2a2a;
        }

        .menu-bar>li>[aria-haspopup="true"]~ul [aria-haspopup="true"]:after {
            content: "+";
            background: none;
            font-size: 1em;
            font-weight: normal;
            height: 20px;
            line-height: 1;
        }

        .menu-bar>li>[aria-haspopup="true"]~ul [aria-haspopup="true"]~ul {
            max-height: 0px;
            transform-origin: top;
            transform: scaleY(0);
            transition: max-height .1s;
        }

        .mega-menu-content {
            padding: 20px 25px;
        }

        .mobile-menu-back-item {
            order: -1;
        }

        .mobile-menu-back-item a {
            background: tint(grey, 70%);
            color: #2a2a2a;
            max-height: calc(1.4em + 40px);
            margin-top: calc(0px - (1.4em + 40px));
            pointer-events: none;
        }

        .mobile-menu-back-item a:before {
            content: "";
            width: 14px;
            height: 12px;
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowLeft.svg#default');
            background-size: 14px;
            margin-right: 10px;
            display: inline-block;
        }

        .menu-link[aria-haspopup="true"]:after {
            content: "";
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowRight.svg#accent');
            background-size: 14px;
            width: 14px;
            height: 14px;
            font-size: 12px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        .mobile-menu-trigger:focus~ul {
            left: 0;
        }

        .menu-bar:hover,
        .menu-bar:focus-within {
            left: 0;
        }

        .menu-bar>li>[aria-haspopup="true"]:focus~ul {
            left: 0;
        }

        .menu-bar>li>[aria-haspopup="true"]~ul {
            margin-top: calc(1.4em + 40px);
        }

        .menu-bar>li>[aria-haspopup="true"]~ul:hover,
        .menu-bar>li>[aria-haspopup="true"]~ul:focus-within {
            left: 0;
        }

        .menu-bar>li>[aria-haspopup="true"]~ul [aria-haspopup="true"]:focus~ul {
            max-height: 500px;
            animation: dropdown .3s forwards;
        }

        .menu-bar>li>[aria-haspopup="true"]~ul li:focus-within>[aria-haspopup="true"]~ul {
            max-height: 500px;
            transform: scaleY(1);
        }

        .menu-bar>li:focus-within~.mobile-menu-header a {
            visibility: hidden;
        }
    }

    @media all and (max-width: 768px) and (hover: none) {
        .mobile-menu-trigger:hover~ul {
            left: 0;
        }

        .menu-bar>li>[aria-haspopup="true"]:hover~ul {
            left: 0;
        }

        .menu-bar>li>[aria-haspopup="true"]~ul:hover {
            left: 0;
        }

        .menu-bar>li>[aria-haspopup="true"]~ul [aria-haspopup="true"]:hover~ul {
            max-height: 500px;
            animation: dropdown .3s forwards;
        }

        .menu-bar>li>[aria-haspopup="true"]~ul [aria-haspopup="true"]~ul:hover {
            max-height: 500px;
            transform: scaleY(1);
        }

        .menu-bar>li:hover~.mobile-menu-header a {
            visibility: hidden;
        }
    }

    @keyframes dropdown {
        0% {
            opacity: 0;
            transform: scaleY(0);
        }

        50% {
            opacity: 1;
        }

        100% {
            transform: scaleY(1);
        }
    }

    @keyframes flyout {
        0% {
            opacity: 0;
            transform: scaleX(0);
        }

        100% {
            opacity: 1;
            transform: scaleX(1);
        }
    }
}