header {
  box-shadow: 0 0.0625rem 0 0 rgba(0, 0, 0, 0.15);
}
header .nav-index {
  padding-top: 1.5rem;
}
header .nav-index .nav-index-top {
  display: flex;
  justify-content: space-between;
}
header .nav-index .nav-content-first {
  display: flex;
  gap: 1rem;
}
header .nav-index .logo-index {
  width: 23%;
  margin-top: -13px;
}
header .nav-index .logo_index_web {
  text-align: center;
}
header .nav-index .nav-direction {
  display: flex;
  justify-content: flex-end;
  gap: 1.3rem;
}

.nav-main nav ul,
.nav-main nav li {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 50px;
}
.nav-main nav a {
  display: block;
  text-decoration: none;
}
.nav-main nav a:hover,
.nav-main nav a:visited {
  text-decoration: none;
}
.nav-main .menu-bar {
  background: #ffffff;
  display: flex;
}
.nav-main .menu-link {
  padding: 20px 25px;
  background: #ffffff;
  color: #177E89;
  transition: background 0.2s, color 0.2s;
  position: relative;
  z-index: 1;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .nav-main .menu-link[aria-haspopup=true]:after {
    content: "";
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowRight.svg#accent");
    background-size: 14px;
    width: 14px;
    height: 14px;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.nav-main .mega-menu-header {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  color: #136a73;
}
.nav-main .mega-menu {
  background: #ffffff;
  z-index: 10;
}
.nav-main .mega-menu--multiLevel {
  flex-direction: column;
}
@media all and (min-width: 951px) {
  .nav-main .nav {
    background: #ffffff;
    margin-bottom: 16px;
  }
  .nav-main .nav > nav {
    margin: 0 auto;
  }
  .nav-main .menu [aria-haspopup=true] ~ ul {
    display: none;
  }
  .nav-main .menu-bar {
    position: relative;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true]:after {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowBottom.svg#accent");
  }
  .nav-main .menu-bar > li > [aria-haspopup=true]:hover:after {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowBottom.svg#light");
  }
  .nav-main .menu-bar > li > [aria-haspopup=true]:hover ~ ul {
    display: flex;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true] ~ ul:hover {
    display: flex;
  }
  .nav-main .menu-bar > li:focus-within > [aria-haspopup=true] ~ ul {
    display: flex;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true]:hover,
  .nav-main .menu-bar > li:focus-within > [aria-haspopup=true],
  .nav-main .menu-bar > li:hover > a {
    color: black;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true]:hover:after,
  .nav-main .menu-bar > li:focus-within > [aria-haspopup=true]:after,
  .nav-main .menu-bar > li:hover > a:after {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowTop.svg#light");
  }
  .nav-main .mega-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .nav-main .mega-menu:hover {
    display: flex;
  }
  .nav-main .mega-menu a:hover {
    background: tint(#177E89, 85%);
    color: #136a73;
  }
  .nav-main .mega-menu--multiLevel > li {
    width: 33.3333333333%;
  }
  .nav-main .mega-menu--multiLevel > li > [aria-haspopup=true] ~ ul {
    left: 33.3333333333%;
    width: 33.3333333333%;
  }
  .nav-main .mega-menu--multiLevel > li > [aria-haspopup=true] ~ ul ul {
    width: 100%;
    left: 100%;
  }
  .nav-main .mega-menu--multiLevel li:hover > [aria-haspopup=true] ~ ul {
    display: block;
    transform-origin: left;
    animation: flyout 0.2s ease-out;
  }
  .nav-main .mega-menu--multiLevel li:focus-within > [aria-haspopup=true] ~ ul {
    display: block;
  }
  .nav-main .mega-menu--multiLevel li:hover > [aria-haspopup=true],
  .nav-main .mega-menu--multiLevel li:hover > a,
  .nav-main .mega-menu--multiLevel li:focus-within > [aria-haspopup=true],
  .nav-main .mega-menu--multiLevel li:focus-within > a {
    background: tint(#177E89, 85%);
    color: #136a73;
  }
  .nav-main .mega-menu--multiLevel [aria-haspopup=true] ~ ul,
  .nav-main .mega-menu--multiLevel [aria-haspopup=true] {
    border-left: 1px solid #f0f0f0;
  }
  .nav-main .mega-menu--multiLevel [aria-haspopup=true] ~ ul:hover,
  .nav-main .mega-menu--multiLevel [aria-haspopup=true]:hover {
    display: block;
  }
  .nav-main .mega-menu--multiLevel [aria-haspopup=true] ~ ul {
    position: absolute;
    top: 0;
    height: 100%;
  }
  .nav-main .mega-menu--flat > * {
    width: 100%;
  }
  .nav-main .mobile-menu-trigger,
  .nav-main .mobile-menu-header,
  .nav-main .mobile-menu-back-item {
    display: none;
  }
}
@media all and (max-width: 950px) {
  .nav-main .nav {
    padding: 20px;
  }
  .nav-main .mobile-menu-trigger,
  .nav-main .mobile-menu-header,
  .nav-main .mobile-menu-back-item {
    display: block;
  }
  .nav-main .mobile-menu-trigger {
    background: #177E89;
    color: #ffffff;
    border: 0;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 4px;
  }
  .nav-main .mobile-menu-header {
    order: -1;
    background: grey;
  }
  .nav-main .mobile-menu-header a {
    padding: 20px 25px;
    color: #ffffff;
    visibility: visible;
  }
  .nav-main .menu-bar {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 350px;
    max-width: 350px;
    max-width: 90%;
    overflow-x: hidden;
    transition: left 0.3s;
    box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.25);
  }
  .nav-main .menu-bar > li > [aria-haspopup=true] ~ ul {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    position: absolute;
    left: 100%;
    top: 0;
    max-height: 100vh;
    width: 100%;
    transition: left 0.3s;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true] ~ ul > li > [aria-haspopup=true] {
    font-size: 1.2em;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true] ~ ul > li > [aria-haspopup=true] ~ ul a {
    padding-left: 40px;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true] ~ ul > li > [aria-haspopup=true] ~ ul > li > [aria-haspopup=true] ~ ul a {
    padding-left: 80px;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true] ~ ul [aria-haspopup=true] {
    color: #2a2a2a;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true] ~ ul [aria-haspopup=true]:after {
    content: "+";
    background: none;
    font-size: 1em;
    font-weight: normal;
    height: 20px;
    line-height: 1;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true] ~ ul [aria-haspopup=true] ~ ul {
    max-height: 0px;
    transform-origin: top;
    transform: scaleY(0);
    transition: max-height 0.1s;
  }
  .nav-main .mega-menu-content {
    padding: 20px 25px;
  }
  .nav-main .mobile-menu-back-item {
    order: -1;
  }
  .nav-main .mobile-menu-back-item a {
    background: tint(grey, 70%);
    color: #2a2a2a;
    max-height: calc(1.4em + 40px);
    margin-top: calc(0px - (1.4em + 40px));
    pointer-events: none;
  }
  .nav-main .mobile-menu-back-item a:before {
    content: "";
    width: 14px;
    height: 12px;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowLeft.svg#default");
    background-size: 14px;
    margin-right: 10px;
    display: inline-block;
  }
  .nav-main .mobile-menu-trigger:focus ~ ul {
    left: 0;
  }
  .nav-main .menu-bar:hover,
  .nav-main .menu-bar:focus-within {
    left: 0;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true]:focus ~ ul {
    left: 0;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true] ~ ul {
    margin-top: calc(1.4em + 40px);
  }
  .nav-main .menu-bar > li > [aria-haspopup=true] ~ ul:hover,
  .nav-main .menu-bar > li > [aria-haspopup=true] ~ ul:focus-within {
    left: 0;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true] ~ ul [aria-haspopup=true]:focus ~ ul {
    max-height: 500px;
    animation: dropdown 0.3s forwards;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true] ~ ul li:focus-within > [aria-haspopup=true] ~ ul {
    max-height: 500px;
    transform: scaleY(1);
  }
  .nav-main .menu-bar > li:focus-within ~ .mobile-menu-header a {
    visibility: hidden;
  }
}
@media all and (max-width: 950px) and (hover: none) {
  .nav-main .mobile-menu-trigger:hover ~ ul {
    left: 0;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true]:hover ~ ul {
    left: 0;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true] ~ ul:hover {
    left: 0;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true] ~ ul [aria-haspopup=true]:hover ~ ul {
    max-height: 500px;
    animation: dropdown 0.3s forwards;
  }
  .nav-main .menu-bar > li > [aria-haspopup=true] ~ ul [aria-haspopup=true] ~ ul:hover {
    max-height: 500px;
    transform: scaleY(1);
  }
  .nav-main .menu-bar > li:hover ~ .mobile-menu-header a {
    visibility: hidden;
  }
}
@keyframes dropdown {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes flyout {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

.mega-menu-content ul,
.mega-menu-content li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.mega-menu-content ul {
  width: 200px;
}
.mega-menu-content ul li:first-child a {
  font-weight: bold;
}
.mega-menu-content ul li a {
  display: inline-block;
  float: left;
  padding: 10px 15px;
  font-size: 0.85rem;
  color: black;
}
.mega-menu-content ul ul li {
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  display: none !important;
}
.mega-menu-content ul ul {
  display: flex;
}
.mega-menu-content .tababa {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background: white;
  height: 470px;
  display: flex;
}
.mega-menu-content .tab-content {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.mega-menu-content .tab-content img {
  width: 89%;
  margin-left: auto;
  margin-right: auto;
}
.mega-menu-content .tab-content span {
  text-align: center;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.mega-menu-content li.active,
.mega-menu-content ul li:hover li {
  display: flex !important;
  justify-content: center;
}/*# sourceMappingURL=header.css.map */