.hero-index .youtube-player iframe {
  width: 100%;
  height: 600px;
}

.link-actions a {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  background-position: 0 100%;
  background-size: 100% 0.0625rem;
  position: relative;
  padding-bottom: 0.25em;
  background-image: linear-gradient(black, black);
  background-repeat: no-repeat;
  transition: 0.3s ease-out;
}
.link-actions a:hover {
  background-size: 0 0.0625rem;
  opacity: 0.6;
  transition: 0.3s ease-out;
  color: black;
}
.link-actions a::after {
  display: inline-block;
  width: 0.7em;
  height: 1em;
  margin-left: 0.25em;
  content: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24'><path fill='%231D1C1C' d='M9 0c-.6 0-.9.6-.9 1.2s.6 1.2 1.2 1.2h11.1L.2 22.3c-.3.3-.3 1.2 0 1.5.3.3 1.2.3 1.5 0L21.6 3.9V15c0 .6.6 1.2 1.2 1.2.6-.3 1.2-.6 1.2-1.2V0H9z' /></svg>");
}

.main-content {
  text-align: center;
  margin-bottom: 45px;
}
.main-content .title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 8px;
}
.main-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.module-grid__item img {
  width: 100%;
}

.module-center__item .card-media {
  display: flex;
  align-items: center;
}
.module-center__item .card-media img {
  width: 100%;
}
.module-center__item .card-media .module-content {
  padding-right: 2.5rem;
  padding-left: 4.5rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
.module-center__item .card-media .module-content h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.375rem;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}
.module-center__item .card-media .module-content span {
  padding-bottom: 15px;
  display: block;
}

.module-container {
  padding-bottom: 3.35rem;
  background-color: #F9F9F9;
  padding-top: 3.35rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.module-container img {
  width: 10.4%;
  padding-bottom: 18px;
}
.module-container .module-item {
  text-align: center;
}
.module-container .module-item a {
  display: flex;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.3s ease-out;
  text-align: center;
  padding-left: 25px;
}
.module-container .module-item a::after {
  display: inline-block;
  width: 0.7em;
  height: 1em;
  margin-left: 0.25em;
  content: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24'><path fill='%231D1C1C' d='M9 0c-.6 0-.9.6-.9 1.2s.6 1.2 1.2 1.2h11.1L.2 22.3c-.3.3-.3 1.2 0 1.5.3.3 1.2.3 1.5 0L21.6 3.9V15c0 .6.6 1.2 1.2 1.2.6-.3 1.2-.6 1.2-1.2V0H9z' /></svg>");
}

.footer-banner {
  padding: 5rem 0;
}
.footer-banner p {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.125rem;
}
.footer-banner .MuiFormControl-root {
  width: 23%;
}
.footer-banner button {
  width: 11%;
  background: black;
  color: white;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  margin-top: 13.5px;
}

@media only screen and (max-width: 576px) {
  .hero-index iframe {
    height: 355px !important;
  }
  .module-center__item .card-media {
    flex-wrap: wrap;
  }
  .module-center__item .link-actions {
    text-align: center;
  }
  .module-container {
    flex-wrap: wrap;
  }
  .footer-banner .MuiFormControl-root {
    width: 60% !important;
  }
  .footer-banner button {
    width: 30%;
  }
  .partner-content {
    flex-direction: column;
  }
  .partner-content a {
    width: 25% !important;
  }
  .footer-secondary .secondary-content {
    height: 91px;
    padding: 0 25px;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
  }
}/*# sourceMappingURL=home.css.map */