.product__top {
  margin-top: 1px;
  margin-bottom: 50px;
}
.product__top .thumbnail img {
  width: 100%;
}
.product__top .text-main {
  background-color: #F9F9F9;
}
.product__top .text-main .wrapper-card {
  padding: 78px 30px;
}
.product__top .text-main .wrapper-card h1 {
  padding-left: 81px;
  padding-bottom: 10px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.product__top .text-main .wrapper-card .description p {
  font-family: "Montserrat", sans-serif;
  max-width: 525px;
  margin: 0 auto;
  font-size: 15px;
}

.product__main-item .product__first-element {
  display: flex;
  justify-content: space-between;
}
.product__main-item .product__first-element .product-model {
  margin-right: auto;
  padding-left: 35px;
}
.product__main-item .product__first-element .product-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  background-color: transparent;
}
.product__main-item .product__first-element .product-wrapper .grid {
  margin-left: 10px;
  margin-bottom: 4px;
}
.product__main-item .product__first-element .product-wrapper .MuiButtonBase-root {
  padding: 0;
  margin-bottom: 4px;
  margin-left: 10px;
}
.product__main-item .product__filter .filter-select {
  display: flex;
  align-items: center;
}
.product__main-item .product__filter .filter-select svg {
  width: 21px;
  opacity: 0.6;
}
.product__main-item .product-index {
  margin-top: 35px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
}
.product__main-item .product-index .filter-model {
  font-size: 14px;
  color: black;
  letter-spacing: 0.065rem;
  font-family: "Montserrat", sans-serif;
}
.product__main-item .product-index .MuiButtonBase-root:hover {
  background-color: transparent;
}
.product__main-item .product-index .accordion-button {
  font-size: 14px;
  color: black;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  border: none;
  background-color: transparent;
  letter-spacing: 0.065rem;
  padding-bottom: 15px;
}
.product__main-item .product-index .accordion-button:focus {
  box-shadow: none;
}
.product__main-item .product-index .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: black;
}
.product__main-item .product-index .accordion-button:not(.collapsed) {
  box-shadow: none;
}
.product__main-item .product-index .accordion-button:not(.collapsed)::after {
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.product__main-item .product-index .accordion-body {
  padding: 0;
}
.product__main-item .product-index .accordion {
  width: 61%;
}
.product__main-item .product-index .accordion-item {
  border: none;
}
.product__main-item .product-index .css-1hbvpl3-MuiSvgIcon-root {
  width: 19px;
}
.product__main-item .product-index .css-ta84vm-MuiAccordionDetails-root {
  padding: 0;
}
.product__main-item .product-index .css-11zohuh-MuiSvgIcon-root {
  left: 0.75px;
  width: 17.6px;
}
.product__main-item .product-index .MuiAccordionSummary-content {
  order: 1;
  margin-left: 0;
}
.product__main-item .product-index #panel1d-header {
  padding: 0;
  background-color: transparent;
}
.product__main-item .product-index .MuiPaper-root {
  border: none;
}
.product__main-item .product-index .MuiPaper-elevation {
  width: 50%;
}
.product__main-item .product-index .MuiAccordionSummary-expandIconWrapper svg {
  width: 1.5rem;
  height: 1.5rem;
}
.product__main-item .product-index span {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

.product__main {
  display: flex;
}
.product__main a:hover {
  color: inherit;
}
.product__main .card {
  border: white;
  width: 25%;
  height: 29.5%;
  cursor: pointer;
  position: relative;
  padding: 15px;
  border-radius: 0px;
  transition: 0.3s ease-in-out;
}
.product__main .card:hover {
  border: 1px solid #e1d8d8 !important;
  transition: none;
  transform: none;
}
.product__main .card:hover .product__wishlist {
  opacity: 1;
}
.product__main .card:hover .addToBag {
  opacity: 1;
}
.product__main .card:hover .swiper-button-prev,
.product__main .card:hover .swiper-button-next {
  opacity: 1;
}
.product__main .card:hover .swiper-scrollbar-horizontal {
  opacity: 1;
}
.product__main .card .swiper-button-disabled {
  display: none;
}
.product__main .card .swiper-scrollbar {
  background-color: transparent;
}
.product__main .card .swiper-scrollbar-horizontal {
  opacity: 0;
}
.product__main .card .swiper-button-prev,
.product__main .card .swiper-button-next {
  opacity: 0;
  background-color: white;
  top: auto;
  bottom: 19px;
}
.product__main .card .swiper-button-prev::after,
.product__main .card .swiper-button-next::after {
  height: 22px;
  width: 19px;
  background-color: transparent;
}
.product__main .card img {
  border-radius: 0;
}
.product__main .card .card-body {
  padding: 16px 3px;
}
.product__main .card .product__wishlist {
  transition: 0.3s ease-in-out;
  background-color: #fff;
  display: flex;
  font-size: 15px;
  position: absolute;
  padding: 0.5em;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  top: 25px;
  right: 25px;
  opacity: 0;
  z-index: 111111111;
}
.product__main .card .card-title {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.025rem;
}
.product__main .card .card-text {
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 14px;
}
.product__main .card .card-price {
  font-size: 14px;
  text-align: center;
  display: block;
  letter-spacing: 0.095rem;
  font-family: "Montserrat", sans-serif;
}
.product__main .card .addToBag {
  margin-top: 20px;
  width: 100%;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  transition: 0.3s ease-in;
  margin-bottom: -15px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.product__main .card .addToBag:hover {
  color: black;
  background-color: white;
}

@media only screen and (max-width: 576px) {
  .product__top .product-content {
    flex-direction: column;
  }
  .product__top .wrapper-card {
    padding: 145px 18px !important;
    padding-bottom: 35px !important;
  }
  .product__top .wrapper-card h1 {
    padding-left: 0 !important;
  }
  .product__top .thumbnail img {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 321px;
    --focal-point-x: 50%;
    --focal-point-y: 50%;
  }
  .product-wrapper {
    justify-content: end !important;
  }
  .product-model {
    padding-left: 0 !important;
    margin-bottom: -26px;
  }
  .MuiPaper-elevation {
    width: 100% !important;
  }
  .MuiBox-root {
    width: 100%;
    height: 450px;
  }
  .MuiDrawer-root {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  .MuiDrawer-root .filter-model {
    font-size: 14px;
    color: black;
    letter-spacing: 0.065rem;
    font-family: "Montserrat", sans-serif;
  }
  .MuiDrawer-root .MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiDrawer-root .accordion-button {
    font-size: 14px;
    color: black;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    border: none;
    background-color: transparent;
    letter-spacing: 0.065rem;
    padding-bottom: 15px;
  }
  .MuiDrawer-root .accordion-button:focus {
    box-shadow: none;
  }
  .MuiDrawer-root .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: black;
  }
  .MuiDrawer-root .accordion-button:not(.collapsed) {
    box-shadow: none;
  }
  .MuiDrawer-root .accordion-button:not(.collapsed)::after {
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  .MuiDrawer-root .accordion-body {
    padding: 0;
  }
  .MuiDrawer-root .accordion {
    width: 100%;
  }
  .MuiDrawer-root .accordion-item {
    border: none;
  }
  .MuiDrawer-root .css-1hbvpl3-MuiSvgIcon-root {
    width: 19px;
  }
  .MuiDrawer-root .css-ta84vm-MuiAccordionDetails-root {
    padding: 0;
  }
  .MuiDrawer-root .css-11zohuh-MuiSvgIcon-root {
    left: 0.75px;
    width: 17.6px;
  }
  .MuiDrawer-root .MuiAccordionSummary-content {
    order: 1;
    margin-left: 0;
  }
  .MuiDrawer-root #panel1d-header {
    padding: 0;
    background-color: transparent;
  }
  .MuiDrawer-root .MuiPaper-root {
    border: none;
  }
  .MuiDrawer-root .MuiPaper-elevation {
    width: 50%;
  }
  .MuiDrawer-root .MuiAccordionSummary-expandIconWrapper svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .MuiDrawer-root span {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
  }
  .filter__model {
    text-align: left;
  }
  strong {
    letter-spacing: 0.04rem;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
  }
}
.product__main-item .product__first-element {
  flex-direction: column;
}
.product__main-item .product__filter {
  display: none;
}
.product__main-item .product-index {
  flex-direction: column;
}
.product__main-item .product-index .product__main {
  flex-wrap: wrap;
}
.product__main-item .product-index .product__main .prodcut-model {
  padding-left: 14px;
}
.product__main-item .product-index .product__main .card {
  width: 50%;
}
.product__main-item .product-index .product__main .card:hover {
  border: none;
}
.product__main-item .product-index .product__main .card .product__wishlist {
  opacity: 1;
}
.product__main-item .product-index .product__main .card .addToBag {
  opacity: 1;
}
.product__main-item .product-index .product__main .card .swiper-scrollbar-horizontal {
  opacity: 1;
}
.product__main-item .product-index .product__main .card .swiper-button-prev {
  display: none;
}
.product__main-item .product-index .product__main .card .swiper-button-next {
  display: none;
}/*# sourceMappingURL=product.css.map */