.product__top {
    margin-top: 1px;
    padding-bottom: 12px;

    .thumbnail {
        img {
            width: 100%;
        }
    }

    .text-main {
        background-color: #F9F9F9;

        .wrapper-card {
            padding: 78px 30px;

            h1 {
                padding-left: 81px;
                padding-bottom: 10px;
                font-size: 22px;
                text-transform: uppercase;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
            }

            .description {
                p {
                    font-family: 'Montserrat', sans-serif;
                    max-width: 525px;
                    margin: 0 auto;
                    font-size: 15px;
                }
            }
        }
    }
}

.product__main-item {
    .product__first-element {
        display: flex;
        justify-content: space-between;

        .product-model {
            margin-right: auto;
            padding-left: 35px;
        }

        .product-wrapper {
            display: flex;
            align-items: center;
            gap: 1rem;
            border: none;
            background-color: transparent;

            .grid {
                margin-left: 10px;
                margin-bottom: 4px;
            }

            .MuiButtonBase-root {
                padding: 0;
                margin-bottom: 4px;
                margin-left: 10px;
            }
        }
    }

    .product__filter {
        .filter-select {
            display: flex;
            align-items: center;

            svg {
                width: 21px;
                opacity: .6;
            }
        }

        .filter__model{
            margin: 0;
        }
    }

    .product-index {
        margin-top: 35px;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        display: flex;

        .filter-model {
            font-size: 14px;
            color: black;
            letter-spacing: 0.065rem;
            font-family: 'Montserrat', sans-serif;
        }

        .MuiButtonBase-root {
            &:hover {
                background-color: transparent;
            }
        }

        .accordion-button {
            font-size: 14px;
            color: black;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            padding: 0;
            border: none;
            background-color: transparent;
            letter-spacing: 0.065rem;
            padding-bottom: 4px;

            &:focus {
                box-shadow: none;
            }


        }

        .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
            color: black;
        }

        .accordion-button:not(.collapsed) {
            box-shadow: none;

            &::after {
                background-size: cover;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            }
        }

        .accordion-body {
            padding: 0;
        }

        .accordion {
            width: 61%;
        }

        .accordion-item {
            border: none;
        }

        .css-1hbvpl3-MuiSvgIcon-root {
            width: 19px;
        }

        .css-ta84vm-MuiAccordionDetails-root {
            padding: 0;
        }

        .css-11zohuh-MuiSvgIcon-root {
            left: 0.75px;
            width: 17.6px;
        }

        .MuiAccordionSummary-content {
            order: 1;
            margin-left: 0;
        }

        #panel1d-header {
            padding: 0;
            background-color: transparent;
        }

        .MuiPaper-root {
            border: none;
        }

        .MuiPaper-elevation {
            width: 50%;
        }

        .MuiAccordionSummary-expandIconWrapper {
            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }


        span {
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
        }
    }
}


.filter-app{
    display: none;
}

.product__main {
    flex-wrap: wrap;
    display: flex;
    a {
        &:hover {
            color: inherit;
        }
    }

    .card {
        border: white;
        width: 25%;
        height: 29.5%;
        cursor: pointer;
        position: relative;
        padding: 15px;
        border-radius: 0px;
        transition: .3s ease-in-out;


        &:hover {
            border: 1px solid #e1d8d8 !important;
            transition: none;
            transform: none;

            .product__wishlist {
                opacity: 1;
            }

            .addToBag {
                opacity: 1;
            }

            .swiper-button-prev,
            .swiper-button-next {
                opacity: 1;
            }

            .swiper-scrollbar-horizontal {
                opacity: 1;
            }

        }

        .swiper-button-disabled {
            display: none;
        }

        .swiper-scrollbar {
            background-color: transparent;
        }

        .swiper-scrollbar-horizontal {
            opacity: 0;
        }

        .swiper-button-prev,
        .swiper-button-next {
            opacity: 0;
            background-color: white;

            &::after {
                height: 22px;
                width: 19px;
                background-color: transparent;
            }

            top: auto;
            bottom: 19px;
        }



        img {
            border-radius: 0;
        }

        .card-body {
            padding: 16px 3px;
        }


        .product__wishlist {
            transition: .3s ease-in-out;
            background-color: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            font-size: 15px;
            position: absolute;
            padding: 0.5em;
            border-radius: 50%;
            overflow: hidden;
            width: 30px;
            height: 30px;
            top: 25px;
            right: 25px;
            opacity: 0;
            z-index: 11;
        }

        .card-title {
            font-size: 15px;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            letter-spacing: .025rem;
        }

        .card-text {
            font-weight: normal;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            font-size: 14px;
        }

        .card-price {
            font-size: 14px;
            text-align: center;
            display: block;
            letter-spacing: .095rem;
            font-family: 'Montserrat', sans-serif;
        }

        .addToBag {
            margin-top: 20px;
            width: 100%;
            border-radius: 0;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            transition: .3s ease-in;
            margin-bottom: -15px;
            opacity: 0;
            transition: .3s ease-in-out;

            &:hover {
                color: black;
                background-color: white;
            }

        }
    }
}

@media only screen and (max-width: 576px) {
    .product__top {
        .product-content {
            flex-direction: column;
        }

        .wrapper-card {
            padding: 145px 18px !important;
            padding-bottom: 35px !important;

            h1 {
                padding-left: 0 !important;
            }
        }

        .thumbnail {
            img {
                width: 100%;
                background-position: center;
                background-size: cover;
                height: 321px;
                --focal-point-x: 50%;
                --focal-point-y: 50%;
            }
        }
    }

    .product__main-item {
        .product__first-element {
            flex-direction: column;
        }
    
        .product__filter {
            display: none;
        }
    
        .product-index {
            display: block;
    
            .product__main {
                flex-wrap: wrap;
    
                .prodcut-model {
                    padding-left: 14px;
                }
    
                .card {
                    width: 50%;
                    height: 21%;
    
                    &:hover {
                        border: none;
                    }
    
                    .product__wishlist {
                        opacity: 1;
                    }
    
                    .addToBag {
                        opacity: 1;
                    }
    
                    .swiper-scrollbar-horizontal {
                        opacity: 1;
                    }
    
                    .swiper-button-prev {
                        display: none;
                    }
    
                    .swiper-button-next {
                        display: none;
                    }
                }
            }
    
        }
    }
    
    .product-wrapper {
        justify-content: end !important;
    }

    .product-model {
        padding-left: 0 !important;
        margin-bottom: -26px;
    }

    .MuiPaper-elevation {
        width: 100% !important;
    }

    .MuiBox-root {
        width: 100%;
        height: 468px;
    }

    .filter-app {
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        padding-top: 11px;
        padding-bottom: 11px;
        margin-bottom: 18px;

        button {
            border: none;
            background: transparent;
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .MuiDrawer-root {

        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;

        .accordion-button:not(.collapsed) {
            background-color: transparent !important;
        }

        strong {
            letter-spacing: .04rem;
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
        }

        .filter-model {
            font-size: 14px;
            color: black;
            letter-spacing: 0.065rem;
            font-family: 'Montserrat', sans-serif;
        }

        .MuiSvgIcon-root {
            width: 0.8em;
        }

        .MuiButtonBase-root {
            &:hover {
                background-color: transparent;
            }
        }

        .accordion-button {
            font-size: 14px;
            color: black !important;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            padding: 0;
            border: none;
            background-color: transparent;
            letter-spacing: 0.065rem;
            padding-bottom: 15px;

            &:focus {
                box-shadow: none;
            }


        }

        .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
            color: black;
        }

        .accordion-button:not(.collapsed) {
            box-shadow: none;

            &::after {
                background-size: cover;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            }
        }

        .accordion-body {
            padding: 0;
        }

        .accordion {
            width: 100%;
        }

        .accordion-item {
            border: none;
            padding-left: 12px;
            padding-top: 22px;
        }

        .css-1hbvpl3-MuiSvgIcon-root {
            width: 19px;
        }

        .css-ta84vm-MuiAccordionDetails-root {
            padding: 0;
        }

        .css-11zohuh-MuiSvgIcon-root {
            left: 0.75px;
            width: 17.6px;
        }

        .MuiAccordionSummary-content {
            order: 1;
            margin-left: 0;
        }

        #panel1d-header {
            padding: 0;
            background-color: transparent;
        }

        .MuiPaper-root {
            border: none;
        }

        .MuiPaper-elevation {
            width: 50%;
        }

        .MuiAccordionSummary-expandIconWrapper {
            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }


        span {
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .filter__model {
        text-align: left;

    }


}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 750px !important;
    }

    .product__top {
        margin-bottom: 14px;
        .product-content {
            flex-direction: column;
        }

        .wrapper-card {
            padding: 22px 18px !important;
            padding-bottom: 0;
           

            h1 {
                padding-left: 0 !important;
            }

            p{
                margin: 0 !important;
            }
        }

        .thumbnail {
            img {
                width: 100%;
                background-position: center;
                background-size: cover;
                height: 321px;
                --focal-point-x: 50%;
                --focal-point-y: 50%;
            }
        }
    }

    .product__main-item {
        .product__first-element {
            flex-direction: column;
        }
    
        .product__filter {
            display: none;
        }
    
        .product-index {
            flex-direction: column;
    
    
            .product__main {
                flex-wrap: wrap;
    
                .prodcut-model {
                    padding-left: 14px;
                }
    
                .card {
                    width: 50%;
    
                    &:hover {
                        border: none;
                    }
    
                    .product__wishlist {
                        opacity: 1;
                    }
    
                    .addToBag {
                        opacity: 1;
                    }
    
                    .swiper-scrollbar-horizontal {
                        opacity: 1;
                    }
    
                    .swiper-button-prev {
                        display: none;
                    }
    
                    .swiper-button-next {
                        display: none;
                    }
                }
            }
    
        }
    }

    .product-wrapper {
        justify-content: end !important;
    }

    .product-model {
        padding-left: 0 !important;
        margin-bottom: -26px;
    }

    .MuiPaper-elevation {
        width: 100% !important;
    }

    .MuiBox-root {
        width: 100%;
        height: 468px;
    }

    .filter-app {
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        padding-top: 11px;
        padding-bottom: 11px;
        margin-bottom: 18px;

        button {
            border: none;
            background: transparent;
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .MuiDrawer-root {

        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;

        .accordion-button:not(.collapsed) {
            background-color: transparent !important;
        }

        strong {
            letter-spacing: .04rem;
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
        }

        .filter-model {
            font-size: 14px;
            color: black;
            letter-spacing: 0.065rem;
            font-family: 'Montserrat', sans-serif;
        }

        .MuiSvgIcon-root {
            width: 0.8em;
        }

        .MuiButtonBase-root {
            &:hover {
                background-color: transparent;
            }
        }

        .accordion-button {
            font-size: 14px;
            color: black !important;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            padding: 0;
            border: none;
            background-color: transparent;
            letter-spacing: 0.065rem;
            padding-bottom: 15px;

            &:focus {
                box-shadow: none;
            }


        }

        .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
            color: black;
        }

        .accordion-button:not(.collapsed) {
            box-shadow: none;

            &::after {
                background-size: cover;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            }
        }

        .accordion-body {
            padding: 0;
        }

        .accordion {
            width: 100%;
        }

        .accordion-item {
            border: none;
            padding-left: 12px;
            padding-top: 22px;
        }

        .css-1hbvpl3-MuiSvgIcon-root {
            width: 19px;
        }

        .css-ta84vm-MuiAccordionDetails-root {
            padding: 0;
        }

        .css-11zohuh-MuiSvgIcon-root {
            left: 0.75px;
            width: 17.6px;
        }

        .MuiAccordionSummary-content {
            order: 1;
            margin-left: 0;
        }

        #panel1d-header {
            padding: 0;
            background-color: transparent;
        }

        .MuiPaper-root {
            border: none;
        }

        .MuiPaper-elevation {
            width: 50%;
        }

        .MuiAccordionSummary-expandIconWrapper {
            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }


        span {
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .filter__model {
        text-align: left;

    }


}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: 970px !important;
    }

    .product__top {
        margin-bottom: 14px;

        .wrapper-card {
            padding: 22px 32px !important;
            padding-bottom: 0;
           

            h1 {
                padding-left: 0 !important;
            }

            p{
                margin: 0 !important;
            }
        }

        .thumbnail {
            img {
                width: 100%;
                background-position: center;
                background-size: cover;
                height: 210px;
                --focal-point-x: 50%;
                --focal-point-y: 50%;
            }
        }
    }

    .product__main-item {
        .card{
            padding: 11px;
        }

        .accordion{
            width: 90% !important;
        }
        .filter-app{
            display: none;
        }
    
        .product-index {
            .product__main {
                flex-wrap: wrap;
    
                .prodcut-model {
                    padding-left: 14px;
                }
    
                .card {
                    width: 33%;
    
                }
            }
    
        }
    }

    .product-wrapper {
        justify-content: end !important;
    }

    .breadcrumb{
        max-width: 215px;
    }

    .product-model {
        margin-bottom: -26px;
    }

    .MuiPaper-elevation {
        width: 100% !important;
    }

    .MuiBox-root {
        width: 100%;
        height: 468px;
    }

    .filter-app {
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        padding-top: 11px;
        padding-bottom: 11px;
        margin-bottom: 18px;

        button {
            border: none;
            background: transparent;
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .MuiDrawer-root {

        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;

        .accordion-button:not(.collapsed) {
            background-color: transparent !important;
        }

        strong {
            letter-spacing: .04rem;
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
        }

        .filter-model {
            font-size: 14px;
            color: black;
            letter-spacing: 0.065rem;
            font-family: 'Montserrat', sans-serif;
        }

        .MuiSvgIcon-root {
            width: 0.8em;
        }

        .MuiButtonBase-root {
            &:hover {
                background-color: transparent;
            }
        }

        .accordion-button {
            font-size: 14px;
            color: black !important;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            padding: 0;
            border: none;
            background-color: transparent;
            letter-spacing: 0.065rem;
            padding-bottom: 15px;

            &:focus {
                box-shadow: none;
            }


        }

        .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
            color: black;
        }

        .accordion-button:not(.collapsed) {
            box-shadow: none;

            &::after {
                background-size: cover;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            }
        }

        .accordion-body {
            padding: 0;
        }

        .accordion {
            width: 100%;
        }

        .accordion-item {
            border: none;
            padding-left: 12px;
            padding-top: 22px;
        }

        .css-1hbvpl3-MuiSvgIcon-root {
            width: 19px;
        }

        .css-ta84vm-MuiAccordionDetails-root {
            padding: 0;
        }

        .css-11zohuh-MuiSvgIcon-root {
            left: 0.75px;
            width: 17.6px;
        }

        .MuiAccordionSummary-content {
            order: 1;
            margin-left: 0;
        }

        #panel1d-header {
            padding: 0;
            background-color: transparent;
        }

        .MuiPaper-root {
            border: none;
        }

        .MuiPaper-elevation {
            width: 50%;
        }

        .MuiAccordionSummary-expandIconWrapper {
            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }


        span {
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .filter__model {
        text-align: left;

    }


}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        max-width: 1150px !important;
    }
    .product__first-element{
        align-items: center;
    }

    .product__top {
        margin-bottom: 14px;

        .wrapper-card {
            padding: 22px 32px !important;
            padding-bottom: 0;
           

            h1 {
                padding-left: 0 !important;
            }

            p{
                margin: 0 !important;
            }
        }

        .thumbnail {
            img {
                width: 100%;
                background-position: center;
                background-size: cover;
                height: 210px;
                --focal-point-x: 50%;
                --focal-point-y: 50%;
            }
        }
    }

    .product__main-item {
        .card{
            padding: 11px;
        }

        .accordion{
            width: 90% !important;
        }
        .filter-app{
            display: none;
        }

            
        .product-model {
            padding-left: 48px !important;
        }
    
        .product-index {
            .product__main {
                flex-wrap: wrap;
    
                .card {
                    width: 33%;
    
                }
            }
    
        }
    }

    .product-wrapper {
        justify-content: end !important;
    }

    .breadcrumb{
        max-width: 240px;
    }

    .MuiPaper-elevation {
        width: 100% !important;
    }

    .MuiBox-root {
        width: 100%;
        height: 468px;
    }

    .filter-app {
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        padding-top: 11px;
        padding-bottom: 11px;
        margin-bottom: 18px;

        button {
            border: none;
            background: transparent;
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .MuiDrawer-root {

        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;

        .accordion-button:not(.collapsed) {
            background-color: transparent !important;
        }

        strong {
            letter-spacing: .04rem;
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
        }

        .filter-model {
            font-size: 14px;
            color: black;
            letter-spacing: 0.065rem;
            font-family: 'Montserrat', sans-serif;
        }

        .MuiSvgIcon-root {
            width: 0.8em;
        }

        .MuiButtonBase-root {
            &:hover {
                background-color: transparent;
            }
        }

        .accordion-button {
            font-size: 14px;
            color: black !important;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            padding: 0;
            border: none;
            background-color: transparent;
            letter-spacing: 0.065rem;
            padding-bottom: 15px;

            &:focus {
                box-shadow: none;
            }


        }

        .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
            color: black;
        }

        .accordion-button:not(.collapsed) {
            box-shadow: none;

            &::after {
                background-size: cover;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            }
        }

        .accordion-body {
            padding: 0;
        }

        .accordion {
            width: 100%;
        }

        .accordion-item {
            border: none;
            padding-left: 12px;
            padding-top: 22px;
        }

        .css-1hbvpl3-MuiSvgIcon-root {
            width: 19px;
        }

        .css-ta84vm-MuiAccordionDetails-root {
            padding: 0;
        }

        .css-11zohuh-MuiSvgIcon-root {
            left: 0.75px;
            width: 17.6px;
        }

        .MuiAccordionSummary-content {
            order: 1;
            margin-left: 0;
        }

        #panel1d-header {
            padding: 0;
            background-color: transparent;
        }

        .MuiPaper-root {
            border: none;
        }

        .MuiPaper-elevation {
            width: 50%;
        }

        .MuiAccordionSummary-expandIconWrapper {
            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }


        span {
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .filter__model {
        text-align: left;
        padding-bottom: 6px;
    }


}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1350px !important;
    }
    .product__first-element{
        align-items: center;
    }

    .product__top {
        margin-bottom: 14px;

        .wrapper-card {
            padding: 62px 131px !important;
            padding-bottom: 0;
           

            h1 {
                padding-left: 0 !important;
            }

            p{
                margin: 0 !important;
            }
        }

        .thumbnail {
            img {
                width: 100%;
                background-position: center;
                background-size: cover;
                height: 275px;
                --focal-point-x: 50%;
                --focal-point-y: 50%;
            }
        }
    }

    .product__main-item {
        .card{
            padding: 11px;
        }

        .accordion{
            width: 90% !important;
        }
        .filter-app{
            display: none;
        }

            
        .product-model {
            padding-left: 32px !important;
        }
    
        .product-index {
            .product__main {
                flex-wrap: wrap;
    
                .card {
                    width: 25%;
                }
            }
    
        }
    }

    .product-wrapper {
        justify-content: end !important;
    }

    .breadcrumb{
        margin-bottom: 0 !important;
        max-width: 100%;
    }

    .MuiPaper-elevation {
        width: 100% !important;
    }

    .MuiBox-root {
        width: 100%;
        height: 468px;
    }

    .filter-app {
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        padding-top: 11px;
        padding-bottom: 11px;
        margin-bottom: 18px;

        button {
            border: none;
            background: transparent;
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .MuiDrawer-root {

        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;

        .accordion-button:not(.collapsed) {
            background-color: transparent !important;
        }

        strong {
            letter-spacing: .04rem;
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
        }

        .filter-model {
            font-size: 14px;
            color: black;
            letter-spacing: 0.065rem;
            font-family: 'Montserrat', sans-serif;
        }

        .MuiSvgIcon-root {
            width: 0.8em;
        }

        .MuiButtonBase-root {
            &:hover {
                background-color: transparent;
            }
        }

        .accordion-button {
            font-size: 14px;
            color: black !important;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            padding: 0;
            border: none;
            background-color: transparent;
            letter-spacing: 0.065rem;
            padding-bottom: 15px;

            &:focus {
                box-shadow: none;
            }


        }

        .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
            color: black;
        }

        .accordion-button:not(.collapsed) {
            box-shadow: none;

            &::after {
                background-size: cover;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            }
        }

        .accordion-body {
            padding: 0;
        }

        .accordion {
            width: 100%;
        }

        .accordion-item {
            border: none;
            padding-left: 12px;
            padding-top: 22px;
        }

        .css-1hbvpl3-MuiSvgIcon-root {
            width: 19px;
        }

        .css-ta84vm-MuiAccordionDetails-root {
            padding: 0;
        }

        .css-11zohuh-MuiSvgIcon-root {
            left: 0.75px;
            width: 17.6px;
        }

        .MuiAccordionSummary-content {
            order: 1;
            margin-left: 0;
        }

        #panel1d-header {
            padding: 0;
            background-color: transparent;
        }

        .MuiPaper-root {
            border: none;
        }

        .MuiPaper-elevation {
            width: 50%;
        }

        .MuiAccordionSummary-expandIconWrapper {
            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }


        span {
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .filter__model {
        text-align: left;
        padding-bottom: 6px;
    }


}


@media only screen and (max-width: 576px){
    .product__detail{
        flex-wrap: wrap;

        .product-content{
            padding-top: 30px;
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }

    .product__detail-main{
        .content-wrapper{
            order: 1;
            padding-left: 12px;
            padding-top: 16px;
        }
    }

    .product__wrapper{
        flex-wrap: wrap;
    }

    .brand__panthere{
        img{
            width: 24% !important;
        }
    }
}
