.product-detail-index {
  margin-top: 18px;
}
.product-detail-index nav {
  padding-bottom: 16.6px;
}
.product-detail-index .product-card {
  width: 49%;
}
.product-detail-index .product-card:first-child {
  width: 99%;
}
.product-detail-index img {
  width: 100%;
}
.product-detail-index .product-thumbnail {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}
.product-detail-index .product-content {
  padding-left: 88px;
  padding-right: 44px;
}
.product-detail-index .product-content .product__content-index {
  position: sticky;
  top: -30px;
  left: 0;
  right: 0;
  bottom: 0;
}
.product-detail-index .product-content .product-title {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.product-detail-index .product-content .prd-description span {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.product-detail-index .product-content .nav-tabs {
  margin-top: 25px;
  border-bottom: 0;
}
.product-detail-index .product-content .nav-tabs .nav-link {
  display: flex;
  border: none;
  align-items: center;
}
.product-detail-index .product-content .nav-tabs li {
  display: flex;
  align-items: center;
  border: 1px solid #e7e7e7;
  min-height: 85px;
  width: 100%;
}
.product-detail-index .product-content .nav-tabs li a {
  color: black;
  width: 100%;
}
.product-detail-index .product-content .nav-tabs li svg {
  margin-left: auto;
}
.product-detail-index .product-content .nav-tabs .product-icon {
  padding-right: 15px;
}
.product-detail-index .product-content .nav-tabs .product-icon::before {
  background-image: url("../assets/images/engraving.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: " ";
  display: block;
  height: 36px;
  width: 17px;
}
.product-detail-index .product-content .price-sales {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 15px;
  display: block;
  letter-spacing: 0.1em;
}
.product-detail-index .product-content .product__main-btn {
  display: flex;
  justify-content: space-between;
}
.product-detail-index .product-content .product__main-btn .addToBag {
  width: 86%;
  border-radius: 0;
  transition: 0.3s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.product-detail-index .product-content .product__main-btn .addToBag:hover {
  color: black;
  background-color: white;
}
.product-detail-index .product-content .product__main-btn .wish-list-product {
  width: 2.8125rem;
  height: 2.1875rem;
  border: 0.0625rem solid #1d1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-detail-index .product-content .product__bottom-wrapper {
  margin-top: 25px;
}
.product-detail-index .product-content .product__bottom-wrapper .product-link {
  padding-bottom: 14px;
}
.product-detail-index .product-content .product__bottom-wrapper .product-link svg {
  margin-right: 20px;
  width: 1.4rem;
  height: 1.4rem;
  color: black;
  opacity: 0.6;
}
.product-detail-index .product-content .product__bottom-wrapper .product-link button {
  border: none;
  background-color: transparent;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.product-detail-index .product-content .product__bottom-wrapper .product-link a {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.product-detail-index .product-content .product__footer {
  margin-top: -7px;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.product-detail-index .product-content .product__footer .MuiButtonBase-root {
  padding-top: 10px;
  padding-left: 0;
  color: black;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.product-detail-index .product-content .product__footer .MuiButtonBase-root svg {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 15px;
}
.product-detail-index .product-content .product__footer .MuiButtonBase-root:hover {
  background-color: transparent;
}
.product-detail-index .product-content .product__footer .MuiButtonBase-root::after {
  display: inline-block;
  margin-left: 2.5rem;
  width: 0.0635rem;
  height: 1.75rem;
  background-color: #e6e6e6;
  content: "";
}
.product-detail-index .product-content .product__footer .product-code {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.product-detail-index .product__detail {
  padding-bottom: 80px;
}

.MuiBox-root {
  text-align: center !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  height: 230px;
  background-color: white;
  padding: 4;
}
.MuiBox-root h2 {
  border-top: 6px solid #d50032;
  padding-top: 20px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.MuiBox-root p {
  padding-top: 60px;
}
.MuiBox-root p svg {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 33px;
}
.MuiBox-root p svg:last-child {
  margin-right: 0;
}

.product__detail-main {
  padding-bottom: 140px;
}
.product__detail-main h1 {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.product__detail-main p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.product__detail-main .content-wrapper {
  padding-left: 110px;
}

.product__wrapper {
  display: flex;
  padding: 0 20px;
  margin-bottom: 110px;
}
.product__wrapper .gift__center {
  display: flex;
}
.product__wrapper .gift__center .thumbnail {
  width: 50%;
}
.product__wrapper .gift__center .thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__wrapper .gift__center .gift-wrapping {
  padding: 105px 49px;
  width: 47%;
  background: #F9F9F9;
}
.product__wrapper .gift__center .gift-wrapping h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.product__wrapper .gift__center .gift-wrapping p {
  font-size: 15px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}
.product__wrapper .return__center {
  padding: 105px 49px;
  background: #F9F9F9;
}
.product__wrapper .return__center h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.product__wrapper .return__center p {
  font-size: 15px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

.recommended-slot h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

.product__main {
  display: block;
  margin: 0 auto;
}
.product__main .slick-prev {
  color: black;
  left: -50px;
  height: 30px;
  top: 35%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}
.product__main .slick-next {
  color: black;
  right: -50px;
  height: 25px;
  top: 35%;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}
.product__main .slick-disabled {
  display: none;
}
.product__main .card__thumbnail {
  position: relative;
}
.product__main .card__thumbnail .secondImage {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.product__main .card__thumbnail:hover .secondImage {
  opacity: 1;
}

.brand__panthere {
  text-align: center;
  padding-bottom: 80px;
}
.brand__panthere img {
  width: 9%;
}

.long-text {
  max-height: 0;
  overflow: hidden;
  display: inline-block;
}

.expanded {
  max-height: 100%;
}

@media only screen and (max-width: 576px) {
  .product__detail {
    flex-wrap: wrap;
  }
  .product__detail .product-content {
    padding-top: 30px;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .product__detail-main .content-wrapper {
    order: 1;
    padding-left: 12px;
    padding-top: 16px;
  }
  .product__wrapper {
    flex-wrap: wrap;
  }
  .brand__panthere img {
    width: 24% !important;
  }
}
@media only screen and (max-width: 768px) {
  .product__detail {
    flex-wrap: wrap;
  }
  .product__detail .product-content {
    padding-top: 30px;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .product__detail-main .content-wrapper {
    order: 1;
    padding-left: 12px;
    padding-top: 16px;
  }
  .product__wrapper {
    flex-wrap: wrap;
  }
  .brand__panthere img {
    width: 24% !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .product-detail-index .product-card {
    width: 48%;
  }
  .product-detail-index .gift-wrapping {
    padding: 35px 49px !important;
  }
  .product-detail-index .MuiButtonBase-root svg {
    width: 2rem !important;
  }
  .product-detail-index .breadcrumb {
    max-width: 350px;
  }
}/*# sourceMappingURL=product-details.css.map */