.product-detail-index {
    margin-top: 18px;

    nav {
        padding-bottom: 16.6px;
    }

    .product-card {
        width: 49%;

        &:first-child {
            width: 99%;
        }
    }

    img {
        width: 100%;
    }

    .product-thumbnail {
        display: flex;
        flex-wrap: wrap;
        gap: 0.6rem;
    }

    .product-content {
        padding-left: 88px;
        padding-right: 44px;

        .product__content-index{
            position: sticky;
    top: -185px;
    left: 0;
    right: 0;
    bottom: 0;
        }

        .product-title {
            font-size: 22px;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }

        .prd-description {
            span {
                font-size: 15px;
                font-family: 'Montserrat', sans-serif;
            }

        }

        .nav-tabs {
            margin-top: 25px;
            border-bottom: 0;

            .nav-link {
                display: flex;
                border: none;
                align-items: center;
            }

            li {
                display: flex;
                align-items: center;
                border: 1px solid #e7e7e7;
                min-height: 85px;
                width: 100%;

                a {
                    color: black;
                    width: 100%;
                }

                svg {
                    margin-left: auto;
                }
            }

            .product-icon {
                padding-right: 15px;

                &::before {
                    background-image: url('../assets/images/engraving.svg');
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: contain;
                    content: " ";
                    display: block;
                    height: 36px;
                    width: 17px;
                }
            }
        }

        .price-sales {
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            padding-bottom: 15px;
            display: block;
            letter-spacing: .1em;
        }

        .product__main-btn {
            display: flex;
            justify-content: space-between;

            .addToBag {
                width: 86%;
                border-radius: 0;
                transition: .3s ease-in-out;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-weight: bold;

                &:hover {
                    color: black;
                    background-color: white;
                }
            }

            .wish-list-product {
                width: 2.8125rem;
                height: 2.1875rem;
                border: 0.0625rem solid #1d1c1c;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .product__bottom-wrapper {
            margin-top: 25px;

            .product-link {
                padding-bottom: 14px;

                svg {
                    margin-right: 20px;
                    width: 1.4rem;
                    height: 1.4rem;
                    color: black;
                    opacity: .6;
                }

                button {
                    border: none;
                    background-color: transparent;
                    font-size: 12px;
                    font-family: 'Montserrat', sans-serif;
                }

                a {
                    font-size: 12px;
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }

        .product__footer {
            margin-top: -7px;
            display: flex;
            align-items: center;
            gap: 2rem;

            .MuiButtonBase-root {
                padding-top: 10px;
                padding-left: 0;
                color: black;
                font-size: 12px;
                font-family: "Montserrat", sans-serif;

                svg {
                    width: 1.3rem;
                    height: 1.3rem;
                    margin-right: 15px;
                }

                &:hover {
                    background-color: transparent;
                }

                &::after {
                    display: inline-block;
                    margin-left: 2.5rem;
                    width: 0.0635rem;
                    height: 1.75rem;
                    background-color: #e6e6e6;
                    content: "";
                }
            }

            .product-code {
                font-size: 14px;
                font-weight: 500;
                font-family: "Montserrat", sans-serif;
            }
        }

    }

    .product__detail {
        padding-bottom: 80px;
    }
}

.MuiBox-root {
    text-align: center !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 530px;
    height: 230px;
    background-color: white;
    padding: 4;

    h2 {
        border-top: 6px solid #d50032;
        padding-top: 20px;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    p {
        padding-top: 60px;

        svg {
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 33px;

            &:last-child {
                margin-right: 0;
            }
        }
    }


}

.product__detail-main {
    padding-bottom: 140px;
    h1 {
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
    }

    p {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
    }

    .content-wrapper {
        padding-left: 110px;
    }
}

.product__wrapper {
    display: flex;
    padding: 0 20px;
    margin-bottom: 110px;

    .gift__center {
        display: flex;

        .thumbnail {
            width: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .gift-wrapping {
            padding: 105px 49px;
            width: 47%;
            background: #F9F9F9;

            h1 {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 18px;
                font-family: 'Montserrat', sans-serif;
            }

            p {
                font-size: 15px;
                line-height: 1.5;
                font-family: 'Montserrat', sans-serif;
            }
        }

    }

    .return__center {
        padding: 105px 49px;
        background: #F9F9F9;

        h1 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
        }

        p {
            font-size: 15px;
            line-height: 1.5;
            font-family: 'Montserrat', sans-serif;
        }
    }
}


.recommended-slot {
    h1 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
    }
}

.product__main{
    display: block;
    margin: 0 auto;

    .slick-next:before {
        position: absolute;
        font-family: 'FontAwesome';
        top: 0;
        left: 10px;
        content: "\f005";
      }

    .card__thumbnail{
        position: relative;
       
        
        .secondImage{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            object-fit: contain;
            opacity: 0;
            transition: .3s ease-in-out;
        }

        &:hover{
            .secondImage{
                opacity: 1;
            }
        }
    }
    

}

.brand__panthere{
    text-align: center;
    padding-bottom: 80px;
    img{
        width: 9%;
    }
}

.long-text{
    max-height: 0;
    overflow: hidden;
    display: inline-block;
}

.expanded{
    max-height: 100%;
}