.main__card-item {

    .slick-prev {
        background: black;
        left: 1px;
        height: 40px;
        width: 40px;
        background-color: rgb(238, 238, 238);
        border-radius: 24px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' viewBox='0 0 24 24' role='img' width='24px' height='24px' fill='none'><path stroke='currentColor' stroke-width='1.5' d='M15.525 18.966L8.558 12l6.967-6.967'></path></svg>");
        transition: background-color 250ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
        &::before{
            display: none;
        }
    }

    .slick-next {
        background: black;
        right: 1px;
        height: 40px;
        width: 40px;
        background-color: rgb(238, 238, 238);
        border-radius: 24px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' viewBox='0 0 24 24' role='img' width='24px' height='24px' fill='none'><path stroke='currentColor' stroke-width='1.5' d='M8.474 18.966L15.44 12 8.474 5.033'></path></svg>");
        transition: background-color 250ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;

        &::before{
            display: none;
        }
    }

    .slick-list {
        width: 91%;
        margin: 0 auto;
    }

    .title {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
    }

    .subtitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        padding-bottom: 55px;
    }

    .card-index {
        color: #fff;
        display: inline-block;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 94%;
        height: 355px;


        h3 {
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
            border: 1px solid white;
            padding: 6px 10px;
        }

    }

    .card-index * {
        box-sizing: border-box;
        transition: all 0.45s ease;
    }

    .card-index::before,
    .card-index::after {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        transition: all 0.3s ease;
        z-index: 1;
        opacity: 0;
        transform: scaleY(2);
    }

    .card-index img {
        vertical-align: top;
        max-width: 100%;
        backface-visibility: hidden;
    }

    .card-index figcaption {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.1em;
        opacity: 0;
        z-index: 2;
        transition-delay: 0.1s;
        font-size: 24px;
        font-family: sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .card-index:hover::before,
    .card-index:hover::after {
        transform: scale(1);
        opacity: 0.5;
    }

    .card-index:hover>img {
        opacity: 0.7;
    }

    .card-index:hover figcaption {
        opacity: 1;
    }
}
